bin/
obj/
.vs/
*.user
*.suo
*.zip
*.msix
*.pfx
todo.list.md
Output/
first.release.txt
todo.list.txt
roslynator-report.txt
AppVersion.cs
roslyn.report.txt
roslynator-report.xml
reports/
Single_command_code_validation.md
lint.out.txt
path.split-up.txt
